{
  "plugins": [
    "lodash"
  ],
  "presets": [
    "es2015",
    "react"
  ],
  "ignore": [
    "react-pwa-boilerplate/node_modules/**",
    "reports/*",
    "dist/*"
  ],
  "env": {
    "cover": {
      "plugins": [
        [
          "istanbul", {
            "exclude": [
              "!**/node_modules/**",
              "**/tests/**"
            ]
          }
        ]
      ]
    }
  }
}
