{
  "presets": [
    "es2015",
    "react"
  ],
  "ignore": [
    "react-pwa-boilerplate/node_modules/**",
    "reports/*",
    "dist/*",
    "src/application/actions/interface.js",
    "src/application/actions/routes.js",
    "src/application/actions/page.js"
  ],
  "env": {
    "cover": {
      "plugins": [
        [
          "__coverage__", {
            "ignore": "src/tests/"
          }
        ]
      ]
    }
  }
}
