---
"env":
  "node": true
"parser":
  "babel-eslint"
"extends":
  - "eslint:recommended"
"rules":
  "indent": [2, 2, {SwitchCase: 1}]
  "quotes": [2, 'single']
  "dot-notation": [2, {allowKeywords: true}]
