# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules/*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# macosx ignores
.DS_Store

# Project Boilerplate ignores
tmp
dist/
reports/
.nyc_output/
output/
/src/node_modules/application
/src/node_modules/configs/settings/assets.json
/src/application/assets/scripts/sw/precache.js
/src/application/assets/scripts/sw/data.json
/webpack-stats*
