# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules/*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# macosx ignores
.DS_Store

# Project Boilerplate ignores
.jshint*
tmp
dist/
reports/
output/
.nyc_output/
/src/node_modules/application
/src/node_modules/configs/settings/*.json
/src/application/client/sw/precache.js
/src/application/client/sw/node_modules/sw/data.json
/webpack-stats*
